html,
body {
  height: 100%;
  margin: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a.selected {
  color: white;
}


li {
  font-family: monospace, serif;
  color: black;
  background-color: #eee;
}

li.selected {
  color: white;
  background-color: darkblue;
}

.no-bullets {
  font-family: monospace, serif;
  list-style: none;
  padding-left: 0;
  margin: 0;
}


* {
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  /* border: 1px dotted rgb(224, 48, 48); */
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 16px;
}

.flex {
  display: flex;
}


#status {
  background-color: antiquewhite;
}


.vscroll {
  font-family: monospace, serif;
  list-style: none;
  padding-left: 0;

  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 0;
  position: relative;
  overflow-y: scroll;
}


#struc-list {
  width: 125px;
  min-width: 125px;

  /* border: 1px dotted rgb(32, 180, 9); */
  /* background-color: rgb(153, 228, 134); */
}

#element-list {
  width: 125px;
  min-width: 125px;

  /* border: 1px dotted rgb(123, 9, 180); */
  /* background-color: rgb(246, 246, 124); */
}

#element-inspector {
  height: 100%;

  /* border: 1px dotted rgb(180, 180, 9); */
}


#box-right {
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 1;
  position: relative;
  overflow: auto;
  height: auto;

  /* border: 1px dotted rgb(48, 57, 224); */
  /* background-color: rgb(171, 171, 234); */
}

#canvas-wrapper {
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 1;
  position: relative;
  overflow: auto;

  width: 100%;
}

#row2 {
  height: 0px;
}
